
.smb-container {
    position: relative;
    z-index: 1;
    -ms-transform: translateX(0);
    transform: translateX(0)
  }

  .icon-svg {
    width: 1em;
    height: 1em;
    vertical-align: -.15em;
    fill: currentColor;
    overflow: hidden
  }

  .icon-svg-xxs {
    font-size: 15px
  }

  .icon-svg-xs {
    font-size: 18px
  }

  .icon-svg-small {
    font-size: 21px
  }

  .icon-svg-medium {
    font-size: 22px
  }

  .icon-svg-large {
    font-size: 36px
  }

  .bottom-drawer-container {
    max-height: 90%;
    overflow: auto;
    -webkit-overflow-scrolling: touch
  }

  .bottom-drawer-container,
  .bottom-drawer-header {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px
  }

  .bottom-drawer-header {
    position: fixed;
    padding-top: 20px;
    height: 60px;
    background: #fff
  }

  .bottom-drawer-header.bottom-drawer-container {
    height: 100%;
    max-height: 100%;
    border-radius: 0
  }

  .bottom-drawer-header .bottom-drawer-fixed {
    border-radius: 0
  }

  .bottom-drawer-content {
    padding-top: 60px
  }

  .bottom-drawer-close {
    position: absolute;
    left: 18px;
    top: 20px
  }

  .bottom-drawer-title {
    font-size: 16px;
    font-weight: 600;
    text-align: center
  }

  .drawer-container .smb-one-img {
    width: 100%
  }

  .drawer-container .smb-one-header {
    display: none
  }

  .drawer-container .smb-one-content {
    position: relative;
    padding-top: 0
  }

  .drawer-container .smb-one-close {
    position: absolute;
    right: 12px;
    top: 10px;
    color: #666;
    font-size: 12px
  }

  ._10MiU {
    position: relative;
    -ms-transform: translateX(0);
    transform: translateX(0)
  }

  ._10MiU p span {
    margin: 0
  }

  ._10MiU ._2T08L {
    position: relative;
    height: 58px;
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden
  }

  ._10MiU ._2T08L,
  ._10MiU ._3eWse {
    display: -ms-flexbox;
    display: flex;
    align-items: center
  }

  ._10MiU ._3eWse {
    -ms-flex: 1 1;
    flex: 1 1;
    -ms-flex-align: center;
    -ms-flex-pack: start;
    justify-content: start;
    height: 100%;
    box-sizing: border-box
  }

  ._10MiU ._38EV3 {
    margin-left: 8px;
    width: 39px;
    height: 39px
  }

  ._10MiU .yFZ8t {
    box-sizing: border-box;
    margin-right: 16px;
    margin-left: 10px
  }

  ._10MiU ._3DqME {
    background: #ff4746;
    border-radius: 6px;
    width: 102px;
    min-height: 36px;
    max-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding: 2px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1.2;
    overflow: hidden
  }

  ._10MiU .c28Ef {
    word-break: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
  }

  ._10MiU ._3x9na {
    font-size: 14px !important
  }

  ._10MiU ._39nmF {
    font-size: 15px !important
  }

  ._10MiU ._1qk3B {
    margin-left: 8px;
    max-width: 77%
  }

  ._10MiU ._3tBBB {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    -webkit-line-clamp: 1
  }

  ._10MiU ._1UhIZ,
  ._10MiU ._3tBBB {
    color: #000;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical
  }

  ._10MiU ._1UhIZ {
    font-size: 10px;
    letter-spacing: 0;
    -webkit-line-clamp: 2
  }

  ._3Hst7 ._2T08L {
    height: 125px;
    -ms-flex-direction: column;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat
  }

  ._3Hst7 ._3eWse {
    width: 100%;
    padding: 8px 28px 0
  }

  ._3Hst7 ._38EV3 {
    width: 65px;
    height: 65px;
    margin: 0
  }

  ._3Hst7 .yFZ8t {
    width: 100%;
    padding: 0 28px;
    margin: 8px 0
  }

  ._3Hst7 ._3DqME {
    width: 100%
  }

  ._3Hst7 ._1qk3B {
    margin-left: 12px
  }

  ._3Hst7 ._3tBBB {
    font-size: 15px;
    -webkit-line-clamp: 1
  }

  ._3Hst7 ._1UhIZ {
    font-size: 12px;
    -webkit-line-clamp: 2
  }

  ._1F5PF {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    z-index: 10
  }

  ._3jbpa {
    -ms-transform: translateX(0);
    transform: translateX(0)
  }

  ._3fn3t,
  ._3jbpa {
    position: relative
  }

  ._3fn3t {
    width: 100%;
    height: 0;
    padding-bottom: 16%
  }

  ._39xng {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }

  ._2kC_w {
    width: 100%;
    transition: margin-top .5s;
    margin-top: -16%
  }

  ._2kC_w._3xryj {
    margin-top: 0
  }

  .smartbanner-placeholder:before {
    content: "";
    width: 100%;
    display: block;
    padding-bottom: 16%;
    height: 0;
    transition: height .5s
  }

  ._14xjq {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 16%
  }

  ._1-VBI,
  .T-6Zj {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }

  ._1-VBI {
    padding: 0 3.2%;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1
  }

  ._1wTHP {
    display: block;
    width: 10px;
    height: 10px
  }

  ._3_9SN {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 10px
  }

  ._1fgBX {
    margin-left: 6px;
    letter-spacing: 0;
    -ms-flex: 1 1;
    flex: 1 1;
    overflow: hidden
  }

  ._1FOoL {
    line-height: 18px;
    font-weight: 700
  }

  ._1FOoL,
  ._1WhgT {
    color: #000;
    margin: 0
  }

  ._1WhgT {
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
  }

  ._1HvW9 {
    margin: 2px 0 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
  }

  .NI5bD {
    margin-left: 5px;
    font-size: 10px;
    color: #666;
    letter-spacing: 0;
    line-height: 14px
  }

  ._34DVf {
    background-image: linear-gradient(270deg, #ff630e, #ff3000);
    border-radius: 13px;
    font-size: 12px;
    color: #fefefe;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 74px;
    height: 26px;
    line-height: 26px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 10px;
    padding: 0 6px;
    box-sizing: border-box
  }

  .I36Ur {
    direction: rtl
  }

  .I36Ur ._3_9SN {
    margin-left: 0;
    margin-right: 10px
  }

  .I36Ur ._1fgBX {
    margin-left: 0;
    margin-right: 6px
  }

  .I36Ur .NI5bD {
    margin-left: 0;
    margin-right: 5px
  }

  .I36Ur ._34DVf {
    margin-left: 0;
    margin-right: 10px
  }

  ._3GYMD {
    overflow: hidden
  }

  ._3GYMD._1PFbR {
    text-overflow: ellipsis
  }

  ._3GYMD ._2Jh29 {
    white-space: nowrap;
    opacity: 0
  }

  ._3GYMD ._2Jh29._1PFbR {
    opacity: 1
  }

  ._21Ddm {
    width: 11px;
    height: 11px;
    margin-left: 2px;
    display: block
  }

  ._21Ddm:first-child {
    margin-left: 0
  }

  .modal-dialog {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
  }

  ._1ljtg {
    top: auto !important;
    z-index: 998
  }

  ._4Usdv {
    box-shadow: 0 -4px 16px 0 rgba(0, 0, 0, .12)
  }

  .Sgg1l {
    direction: rtl
  }

  ._4Usdv.drawer-container {
    overflow: hidden
  }

  ._4Usdv.drawer-container ._2n5NL {
    position: absolute;
    width: 100%
  }

  .cq06Q {
    position: relative;
    padding: 0 12px 4px;
    z-index: 1
  }

  .Gtrp_ {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px 0
  }

  ._3lKcn {
    width: 10px;
    height: 10px;
    display: block
  }

  ._3NHH1 {
    width: 32px;
    height: 32px;
    margin: 0 6px 0 8px
  }

  .Sgg1l ._3NHH1 {
    margin: 0 12px 0 6px
  }

  .FcA7R {
    font-weight: 700;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    margin-top: -2px
  }

  .eV43N {
    margin-top: 1px;
    display: -ms-flexbox;
    display: flex
  }

  ._1h3iH {
    height: 24px;
    line-height: 24px;
    width: 70px;
    border-radius: 13px;
    background-image: linear-gradient(270deg, #ff630e, #ff3000);
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 6px;
    box-sizing: border-box
  }

  .Sgg1l ._1h3iH {
    margin-right: 10px;
    margin-left: 0
  }

  ._53maZ {
    border-top: 1px dotted #333;
    opacity: .7
  }

  ._3FZ-Q {
    margin: 12px 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
  }

  ._3FZ-Q:before {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    background: #000;
    margin-right: 6px
  }

  .Sgg1l ._3FZ-Q:before {
    margin-left: 6px;
    margin-right: 0
  }

  ._3b2WI {
    width: 80%;
    margin: auto;
    display: block;
    border-radius: 12px
  }

  ._3yN0k {
    display: block;
    margin: 20px auto 0;
    width: 30px;
    height: 30px
  }

  .drawer-container ._3kBGy {
    width: 100%
  }

  .drawer-container ._34qbB {
    display: none
  }

  .drawer-container ._2kdvd {
    position: relative;
    padding-top: 0
  }

  .drawer-container ._3db95 {
    position: absolute;
    right: 12px;
    top: 10px;
    color: #666;
    font-size: 12px
  }
